
body{
    background-color: black;
}

.ex_wrap{
    position: absolute;
    background-color: rgba(61, 52, 52, 0.774);
    width: 2310px;
    height: 1090px;
    z-index: 2;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Jua', sans-serif;
}
.activeGame{
    display: none;
}

#explane{
    position: absolute;
    border: 8px solid white;
    border-radius: 50px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    padding-top: -10px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.line_1{
    font-size: 30px;
    line-height: 50px;

}
.line_2{
    
    font-size: 20px;
}

#game_start_btn{
    position: absolute;
    width: 300px;
    height: 150px;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(247, 247, 128);
    cursor: pointer;
    margin-left: 290px;
    bottom: 20%;
    
}

/* .win{
    width: 500px;
    height: 500px;
    background-color: wheat;
}

.lose{
    width: 500px;
    height: 500px;
    background-color: aqua;
} */